/* Add here all your css styles (customizations) */
#html5image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:focus {
    color: #72c02c !important;
}

.navbar-nav .nav-item a:focus {
	color: #72c02c !important;
}

.shortcode-html li a:focus {
    color: #fff !important;
    background-color: #72c02c;
    border-radius: 3px;
    padding: 0px 3px;
}

.logo-header img{
    padding: 2px;
    border: solid 2px transparent;
}

.logo-header:focus img{
    border: solid 2px #72c02c;
    box-shadow:1px 1px 1px #ccc;
}

.btn:focus {
    background-color: #03803D;
    color: #72c02c;
    border: solid 1px #72c02c;
    border-radius: 3px;
}

.focus-link-color a:focus {
    color: #72c02c !important;
}

.logo-footer img {
    padding: 2px;
    border: solid 2px transparent;
}

.logo-footer:focus img {
    border: solid 2px #fff;
}

.color-link:focus {
    background-color: #fff;
    border-radius: 60px;
    padding: 2px 10px;
    text-decoration: underline;
    transition: padding 0.5s;
}

.color-link {
    transition: padding 0.5s;
}

.link-content a {
    transition: padding 0.5s;
}

.link-content article a:focus {
    color: #fff !important;
    background-color: #72c02c !important;
    border-radius: 10px;
    padding: 5px 10px !important;
    transition: padding 0.5s;
}

.list-inline  li .u-pagination-v1-4--active:focus {
    color: #72c02c !important;
    background-color: #fff;
}

footer ul a:focus {
    color: #72c02c !important;
}